.toners, .drums {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 35px;
    row-gap: 35px;
    justify-content: center;
    margin: 50px 30px 30px 30px;
}

.toner-right, .drum-right {
    display: grid;
    grid-template-rows: 50px 3fr;
    padding: 20px;
    border: 5px solid aqua;
    border-radius: 20px;
}

.toner-right .card-body,
.drum-right .card-body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: 50px;
    align-items: center;
    justify-items: center;
}

.toner-left, .drum-left {
    display: grid;
    padding: 20px;
    border: 5px solid aqua;
    border-radius: 20px;
}

.toner-left .toner-body,
.drum-left .drum-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    margin: 20px;
}

/* .card-quantity {
    height: 45px;
    width: 80px;
    justify-self: center;
    padding-left: 15px;
} */

.employees article,
.computers article,
.printers article {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 15px;
    border-radius: 6px;
    border: 2px solid #33adff;
}

.employees article:hover {
    transform: translateY(-1rem) rotate(2deg);
}

.form-section {
    margin: 50px 30px 30px 30px;
    padding: 15px;

}

.request-form p {
    padding-bottom: 20px;
}

.request-form p label,
.request-form p select,
.request-form p input  {
    font-size: 30px;
}

.request-form p:nth-child(2) {
    margin-bottom: 15px;
    border-bottom: 2px solid #33adff;
}

.btn-add-form,
.submit-btn {
    font-size: 25px;
    padding: 15px 20px;
    margin-right: 15px;
    background-color: #33adff;
    border: 2px solid #33adff;
    border-radius: 25px;
}

.btn-add-form:hover,
.submit-btn:hover {
    background-color: #fff;
    transition: ease 0.5s;
}