/* navbar and scroll up btn*/


/* navbar styling */
.title-logo {
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
}

.title-logo h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding-top: 23px;
    width: 100%;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background: #111;
}

nav ul {
    justify-self: end;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
}

nav ul li a,
nav ul li label {
    font-weight: 500;
    transition: color 0.3s ease;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 10px;
}

nav ul li a:hover {
    color: #33adff;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid #33adff;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}


nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
}

nav ul ul li {
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
    background: #111;
    border-radius: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
}

nav select {
    background: #111;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
}

.scroll-up-btn {
    display: block;
}

.fa-plus {
    font-size: 15px;
    margin-left: 40px;
}

/*scroll up btn styling*/

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #33adff;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}