{% extends "index.html" %}
{% load static %}


{% block content %}

<h1 class="title">Drums</h1>

<li class="supply-btn">
    <a href="{% url 'drums supply' %}">Drums Supply</a>
</li>

<section class="drums">
    <article  class="drum-left">
        {% for drum in drums %}
            <article class="drum-body">
                <h2 class="card-title">{{ drum.model}}</h2>
                <h3 class="card-subtitle">quantity {{ drum.quantity }}</h3>
                <h3 class="card-subtitle">Recomended quantity {{ drum.recomended_quantity }}</h3>
            </article>
        {% endfor %}
    </article>

    <section class="form-section">
        <form id="form-container" method="POST">
            {% csrf_token %}
            {{ request_formset.management_form }}
            {% for form in request_formset %}
            <div class="request-form">
                {{ form.as_p }}
            </div>
            {% endfor %}
            <button id="add-form" type="button" class="btn-add-form">+</button>
            <button type="submit" class="submit-btn">Create Request</button>
        </form>
        
    </section>

</section>


{% endblock content %}