{% extends "index.html" %}
{% load static %}


{% block content %}

<h1 class="title">Drums</h1>

<section class="drums">
    <article  class="drum-left">
        {% for drum in drums %}
            <article class="drum-body">
                <h2 class="card-title">{{ drum.model}}</h2>
                <h3 class="card-subtitle">quantity {{ drum.quantity }}</h3>
                <p class="card-text">Some example to build card description for example models of printers</p>
            </article>
        {% endfor %}
    </article>

    <article class="drum-right">
        <h2>Recomended drums in storage</h2>
        <div class="card-body">
            {% for drum in drums %}
                <h4>{{ drum.model }}</h4>
                <p>{{ drum.recomended_quantity }}</p>
            {% endfor %}
        </div>
    </article>

</section>


{% endblock content %}