{% extends "index.html" %}
{% load static %}

{% block content %}

<h1 class="title">Printers</h1>

<section class="printers">
    {% for printer in printers %}
        <article>
            <h4>Принтер: {{ printer.manufacturer }} {{ printer.model }}</h4>
            <p>S/N: {{ printer.serial_number }}</p>
            <p>Тонер касета: {{ printer.toner }}</p>
            <p>Барабанен модул: {{ printer.drum }}</p>
            <p>MAC: {{ printer.mac_address }}</p>
            <p>Гаранция: {{ printer.document }}</p>
            <p>{{ printer.user }}</p>
        </article>
    {% endfor %}
</section>

{% endblock content %}