{% extends "index.html" %}
{% load static %}


{% block content %}

<h1 class="title">Toners</h1>

<section class="toners">
    <article  class="toner-left">
        {% for toner in toners %}
            <article class="toner-body">
                <h2 class="card-title">{{ toner.model}}</h2>
                <h3 class="card-subtitle">quantity: {{ toner.quantity }}</h3>
                <p class="card-text">Some example to build card description for example models of printers</p>
                <h3 class="card-subtitle">Recomended quantity: {{ toner.recomended_quantity }}</h3>
            </article>
        {% endfor %}
    </article>

    <section class="form-section">
        <form id="form-container" method="POST">
            {% csrf_token %}
            {{ request_formset.management_form }}
            {% for form in request_formset %}
            <div class="request-form">
                {{ form.as_p }}
            </div>
            {% endfor %}
            <button id="add-form" type="button" class="btn-add-form">+</button>
            <button type="submit" class="submit-btn">Create Request</button>
        </form>
        
    </section>

</section>



{% endblock content %}