{% extends "index.html" %}
{% load static %}


{% block content %}

<h1 class="title">Requests</h1>

<section class="form-section">
    <form id="form-container" method="POST">
        {% csrf_token %}
        {{ request_formset.management_form }}
        {% for form in request_formset %}
        <div class="request-form">
            {{ form.as_p }}
        </div>
        {% endfor %}
        <button id="add-form" type="button" class="btn-add-form">+</button>
        <button type="submit" class="submit-btn">Create Request</button>
    </form>
    
</section>



{% endblock content %}